{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pinochio's Pizza</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'menu/css/styles.css' %}">

</head>
<body>
<header>
	<div id="navbar">
		<div class="container">
			<a href="{% url 'index' %}">
				<span>Pinochio's Pizza & Subs</span>
			</a>
			<a href="{% url 'cart' %}" style="float: right;">
				<span class="glyphicon glyphicon-envelope"></span>
			</a>
		</div>
	</div>
</header>

{% block content %}

{% endblock %}

<footer>
	<div class="container">
		<div class="row">
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
		</div>
	</div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>