{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pinochio's Pizza</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'menu/css/styles.css' %}">
</head>
<body>
<header>
	<div id="navbar">
		<div class="container">
			<span>Pinochio's Pizza & Subs</span>
		</div>
	</div>
</header>

<div class="container">
	{% if category != "other" %}
		<div id="category-name"><span>Regular Pizza</span></div>
	{% endif %}
	<div id="dishes" class="row">
		{% if category == "other" %}
			<div id="category-name"><span>Salads</span></div>
			{% for salad in salads %}
				<section class="col-lg-3">
					<div>
						<a href="{% url 'dish' category salad.id %}">
							<img src="{% static item.image %}">
							<div id="dish-name">{{ item.name }}</div>
							<div id="dish-order"><span>Order</span></div>
						</a>
					</div>
				</section>
			{% endfor %}
		{% else %}
			{% for item in items %}
			<section class="col-lg-3">
				<div>
					<a href="{% url 'dish' category item.id %}">
						<img src="{% static item.image %}">
						<div id="dish-name">{{ item.name }}</div>
						<div id="dish-order"><span>Order</span></div>
					</a>
				</div>
			</section>
			{% endfor %}
		{% endif %}
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>	
			<hr>	
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
		</div>
	</div>
</footer>
</body>
</html>