{% extends 'menu/basic.html' %}
{% load static %}
{% load my_filters %}

{% block content %}
<div class="container">
	<div id="category-name" style="text-transform: capitalize;"><span>{{ category }}</span></div>
	<div id="item-name"><span>{{ result.name }}</span></div>
	<div class="row">
		<div class="col-lg-5">
			<section id="dish-img">
				<img src="{% static 'menu/images/pizza1.jpg' %}">
			</section>
		</div>
		<div class="col-lg-5" id="customization">
			<div id="category-name"><span>Customize</span></div>
			{% if category == "regular" or category == "sicilian" %}
				{% for i in result.topping_quantity|times %}
					<select>
						{% for add in adds %}
							<option value="{{ add.id }}">{{ add.name }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			{% elif category == "subs" %}
				{% for i in 3|times %}
					<select id="add-select">
						{% for add in adds %}
							<option value="{{ add.id }}">{{ add.name }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			{% endif %}

			{% if category == "regular" or category == "sicilian" or category == "dinner_platter" or category == "subs" %}
				<br>
				<input type="radio" id="small" name="size" value="small" checked>
  				<label for="male">Small</label><br>
 				<input type="radio" id="large" name="size" value="large">
  				<label for="male">Large</label><br>
			{% endif %}
			<div id="total-price"><span>Price: <span id="num-price">19.95</span>$</span></div>
			<div id="confirm-button">
				<span>Confirm</span>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function() {



			document.querySelector("#num-price").innerHTML = '{{ result.price }}';
			selected_price = undefined;

			document.querySelectorAll('input[type="radio"]').forEach(function(button) {
				document.querySelector("#num-price").innerHTML = '{{ result.small }}';
				selected_price = '{{ result.small }}';
				button.onchange = function() {
					if (button.value == "small") {
						document.querySelector('#num-price').innerHTML = '{{ result.small }}';
						selected_price = '{{ result.small }}';
					}
					if (button.value == "large") {
						document.querySelector('#num-price').innerHTML = '{{ result.large }}';
						selected_price = '{{ result.large }}';
					}

					calculate_adds();
				}
			})

			document.querySelectorAll('#add-select').forEach(function(button) {
				button.onchange = calculate_adds;
			})

		})


		function calculate_adds() {
			price = parseFloat(selected_price);
			document.querySelectorAll('#add-select').forEach(function(button) {
				if (button.value != 1) {
					price = price + 0.5;
				}
			})
			document.querySelector('#num-price').innerHTML = price;
		}
	</script>
{% endblock %}