{% load static %}
{% load my_filters %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pinochio's Pizza</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'menu/css/styles.css' %}">
</head>
<body>
<header>
	<div id="navbar">
		<div class="container">
			<span>Pinochio's Pizza & Subs</span>
		</div>
	</div>
</header>

<div class="container">
	<div id="category-name"><span>Regular Pizza</span></div>
	<div id="item-name"><span>{{ result.name }}</span></div>
	<div class="row">
		<div class="col-lg-5">
			<section id="dish-img">
				<img src="{% static 'menu/images/pizza1.jpg' %}">
			</section>
		</div>
		<div class="col-lg-5" id="customization">
			<div id="category-name"><span>Customize</span></div>
			{% if category == "regular" or category == "sicilian" %}
				{% for i in result.topping_quantity|times %}
					<select>
						{% for add in adds %}
							<option value="{{ add.id }}">{{ add.name }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			{% elif category == "subs" %}
				{% for i in 3|times %}
					<select>
						{% for add in adds %}
							<option value="{{ add.id }}">{{ add.name }}</option>
						{% endfor %}
					</select>
				{% endfor %}
			{% endif %}
			<div id="total-price"><span>Price: 19.95</span></div>
			<div id="confirm-button">
				<span>Confirm</span>
			</div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>	
			<hr>	
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
			<hr>
			<section class="col-lg-3 col-md-3 col-sm-12">
				Our phone number: <br>
				617-876-4897
				Our fax number is <br>
				617-661-6188
				Find us on Twitter <br>
				@PinocchiosPizz
				And Instagram <br>
				@pinocchiospizza1
			</section>
		</div>
	</div>
</footer>
</body>
</html>