{% extends 'menu/basic.html' %}
{% load static %}

{% block content %}
<div id="main-content" class="container">
	<div id="image-wrapper">
		<img class="img-fluid" src="{% static 'menu/images/pizzeriaruka-pizzas.jpg' %}">
		<div id="order-button">
			<span>Order</span>
		</div>
	</div>
	<div id="title">
		<span>Special Menu</span>
	</div>
	<div id="tiles-container" class="row">
		<section class="col-lg-3 col-md-3">
			<div>
				<a href="{% url 'category' 'regular' %}">
					<img src="{% static 'menu/images/pizza1.jpg' %}">
					<div class="tile-name">Regular</div>
				</a>
			</div>
		</section>
		<section class="col-lg-3 col-md-3">
			<div>
				<a href="{% url 'category' 'sicilian' %}">
					<img src="{% static 'menu/images/pizza1.jpg' %}">
					<div class="tile-name">Sicilian</div>
				</a>
			</div>
		</section>
		<section class="col-lg-3 col-md-3">
			<div>
				<a href="{% url 'category' 'subs' %}">
					<img src="{% static 'menu/images/pizza1.jpg' %}">
					<div class="tile-name">Subs</div>
				</a>
			</div>
		</section>
		<section class="col-lg-3 col-md-3">
			<div>
				<a href="{% url 'category' 'other' %}">
					<img src="{% static 'menu/images/pizza1.jpg' %}">
					<div class="tile-name">Other</div>
				</a>
			</div>
		</section>
	</div>
</div>

{% endblock %}